*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: wheat;
}

#heading{ 
 background-color: rgb(0, 255, 247);
 font-size: 50px;
 border-color: chocolate;
 border-width: 4px;
 border-style: dotted;
 border-radius: 12px;
 color: red;
 text-align: center;
}

table{
    width: 50%;
    font-size: 20px;
    color:crimson;
    font-weight: bold;
}
#container{
    display: flex;
    justify-content: center;
}